<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fos</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="~/js/test.js"></script>
    @RenderSection("Javascript", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
